# Ignore object files and executables
*.o
*.mod
*.exe
*.out
*.output
*.txt
*.xyz

test*
tmp*
x*

input

data/
logs/
neighbors/
Cr_coordinates/
remote/
structures/
executable/
temp_output/
stabilizer_output/
generate_output/
graphs/
.vscode/